.forumhead1 {
   
  
    left: 50%;
    text-align: center;
    font-family: 'Outfit', Cinzel;
    font-size: 20px;
    top: 10px;
    font-style: italic;
    word-wrap: break-word;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0;  
    font-weight: 200;


}

.explore-button {

    width: auto;
    padding: 10px 20px 10px 20px; 
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px; 
    align-items: center;
    text-align: center;
    font-family: 'Outfit';
    
  }

  .explore-button:hover {
  background-color: #d3d0d0;
  color: #000;
}