.vertical1 {
    border-left: 2px solid black;
    height: 300px;
    position: relative;
    left: 50%;
    top: 10px;
}



@media screen and (max-width: 640px){
    .vertical1 {
        
        position: relative;
    }
    

}

.reveal {
    position: relative;
    transform: transalteY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }
