.textstyle {
   
  
    left: 50%;
    text-align: center;
    font-family: 'Outfit', Cinzel;
    font-size: 70px;
    top: 10px;
    font-style: italic;
    word-wrap: break-word;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0;  
    font-weight: 200;

}


@media screen and (max-width: 640px){
    .textstyle {
        font-size: 40px;
    }
    .welcome{
        position: relative;
     

       
    }


}

.reveal {
    position: relative;
    transform: transalteY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }